*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  --primary-color: #26a69a;
  --primary-dark-color: #00766c;
  --primary-light-color: #64d8cb;
  --primary-text-color: #212121;
  --secondary-text-color: #e0f2f1;
}

/** BODY **/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 300px;
  min-height: 100%;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
  background-color: var(--primary-color);
  cursor: default;
}

/** H1 **/

h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 900px;
  padding: 1rem;
  color: var(--primary-dark-color);
  font-size: 3rem !important;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px var(--primary-text-color);
  background-color: var(--secondary-text-color);
  border: 5px solid var(--primary-text-color);
  border-radius: 3px;
}

.title-vertical-bars {
  margin: 0 1rem;
  color: var(--primary-text-color);
}

/** TEMPORARY RESULTS **/

#temporary-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
  min-width: 250px;
  min-height: 15rem;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--primary-light-color);
  border: solid 3px var(--primary-text-color);
  border-radius: 3px;
}

#rounds-number {
  font-style: italic;
}

#round-result-1 {
  font-size: 1.8rem;
  text-align: center;
}

#winner-choice-display, #loser-choice-display {
  color: var(--primary-dark-color);
  text-shadow: 1px 1px var(--primary-text-color);
}

#beats-word {
  margin: 0 1rem;
}

#round-result-2 {
  color: var(--primary-text-color);
  font-size: 1.6rem;
  text-align: center;
}

#current-score {
  color: var(--primary-dark-color);
  font-size: 1.5rem;
}

/** FINAL RESULT **/

#final-result {
  position: fixed;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  border: 1px solid var(--primary-text-color);
  border-radius: 3px;
  visibility: hidden;
  animation: 1000ms linear 0s infinite alternate finalresultsanimation;
}

@keyframes finalresultsanimation {
  from {
    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
  }
  to {
    color: var(--secondary-text-color);
    background-color: var(--primary-dark-color);
  }
}

/** CHOICE BUTTONS + NEW GAME BUTTON **/

#choice-buttons-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 900px;
  margin : 1rem 0;
}

button {
  width: 30%;
  max-width: 200px;
  padding: 1rem;
  color: var(--secondary-text-color);
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--primary-dark-color);
  border: 3px solid var(--primary-text-color);
  border-radius: 12px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

button:hover {
  background-color: var(--primary-text-color);
  transform: scale(1.1);
}

button:disabled {
  background-color: #e0e0e0;
}

button > img {
  width: 90%;
}

/* No Hover Effect*/
button:disabled:hover {
  background-color: darkgrey;
  transform: scale(1);
}

#new-game {
  width: auto;
  color: var(--primary-dark-color);
  font-size: 2.4rem;
  background-color: var(--secondary-text-color);
  transition: all ease-in-out 200ms;
}

#new-game:hover {
  color: var(--secondary-text-color);
  background-color: var(--primary-text-color);
  transform: scale(1.1);
}

/*** MEDIA QUERIES - Min Width - 500px***/

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 5rem !important;
  }

  #rounds-number {
    font-size: 1.4rem;
  }

  #round-result-1 {
    font-size: 2.7rem;
  }

  #round-result-2 {
    font-size: 2.5rem;
  }

  #current-score {
    font-size: 1.9rem;
  }
}
